.main.dotaTwo-part{
  background-color: #424242;
  .ui.attached.segment{
    background-color: #424242;
  }
  .header{
    padding: 1em 1em;
    a{
      color: #FFA500;
    }
  }
  b{
    color: white;
  }
  .second-main{
    padding-bottom: 2em;
  }
  .radiant{
    color: green !important;
  }
  .dire{
    color: red !important;
  }
  .kda_number{
    color: #EEB422;
  }
  .left.aligned{
    a{
      color:#EEB422;
    }
  }
}
