<template name="dotaTwo">
  <div class="main dotaTwo-part">
    <div class="header segment">
      <div class="ui container">
        <div class="ui huge header">
          <h2><a>Dota 2</a></h2>
        </div>
      </div>
    </div>
    <div class="ui container second-main">
      {{> searchPart}}
    </div>
  </div>
</template>

<template name="searchPart">
  <div class="ui row">
      <div class="ui floating dropdown labeled search icon button js-dota2-type-dropdown">
        <i class="write square icon"></i>
        <span class="text dota2-type">Select type of search</span>
        <div class="menu">
          <div class="item">By Account ID</div>
          <div class="item">By Match ID</div>
        </div>
      </div>
      <div class="ui action input right attached">
        <input class="dota-id-input" type="text" name="dota2_id" placeholder="Input your ID">
        <div  class="ui button get-dota-id">Comfirmation</div>
      </div>
  </div>
</template>
