<template name="profile">
  <div class="ui center aligned segment main-profile">
    <div class="ui header"><h1>Your personal setting<a>With the mark *  is obligatory!</a></h1></div>
    {{>formProfile}}
  </div>
</template>

<template name="formProfile">
  <form class="ui form profile messages">
    <div class="second-main segment ui container">
      <div class="ui attached segment form-part">
        <div class="three fields">
          <div class="field">
            <label>Username<a>*</a></label>
            <input type="text" name="username" value="{{currentUser.username}}" placeholder="Username...">
          </div>
          <div class="field">
            <label>Full-name</label>
            <input type="text" name="name" value="{{currentUser.profile.name}}" placeholder="Full-name...">
          </div>
          <div class="field">
            <label>Gender</label>
            <div class="ui selection dropdown sexe">
              <input type="hidden" name="gender" value="{{currentUser.profile.gender}}">
              <i class="dropdown icon"></i>
              <div class="default text">Gender</div>
              <div class="menu">
                <div class="item" data-value="Female">Female</div>
                <div class="item" data-value="Male">Male</div>
              </div>
            </div>
          </div>
        </div>
        <div class="three fields">
          <div class="field">
            <label>Email<a>*</a></label>
            <input type="email" name="email" value="{{currentUser.emails.[0].address}}" placeholder="Email...">
          </div>
          <div class="field">
            <label>Phone</label>
            <input type="text" name="phone" value="{{currentUser.profile.phone}}" placeholder="Phone...">
          </div>
          <div class="field">
            <label>Birthday</label>
            <div class="ui calendar" id="birth">
              <div class="ui input left icon">
                <i class="calendar icon"></i>
                <input type="text"  id="birth-input" name="birth" value="{{currentUser.profile.birthday}}" placeholder="Day/Month,Year"/><br/>
              </div>
            </div>
          </div>
        </div>
        <div class="two fields">
          <div class="ui six wide field">
            <label>Career</label>
            <div class="ui selection dropdown career">
              <input type="hidden" name="career" value="{{currentUser.profile.career}}">
              <i class="dropdown icon"></i>
              <div class="default text">Career</div>
              <div class="menu">
                <div class="item" data-value="Teacher">Teacher</div>
                <div class="item" data-value="Student">Student</div>
                <div class="item" data-value="Researcher">Researcher</div>
                <div class="item" data-value="Professional">Professional</div>
                <div class="item" data-value="Engineer">Engineer</div>
                <div class="item" data-value="Civil Servant">Civil Servant</div>
                <div class="item" data-value="Waiter">Waiter</div>
                <div class="item" data-value="Salesman">Salesman</div>
                <div class="item" data-value="Designer">Designer</div>
                <div class="item" data-value="Businessman">Businessman</div>
                <div class="item" data-value="Others">Others</div>
              </div>
            </div>
          </div>
          <div class="ui ten wide field">
            <label>Hobbies</label>
            <input id="hobby-text" type="text" readOnly="true" name="hobby" value="" placeholder="Hobbies...">
          </div>
        </div>
        <div class="two fields">
          <div class="ui six wide field">
            {{> userPhoto}}
          </div>
          <div class="ui ten wide field">
            <label>Self-assessment</label>
            <textarea id="evaluate" name="evaluate"  value="" cols="30" rows="15"></textarea>
            <div class="ui message">
              <div class="ui toggle checkbox">
                <input type="checkbox" name="example" id="checkbox-agree">
                <label>Agree to public your information</label>
              </div>
            </div>
            <button type="submit" class="ui blue button">Comfirmation</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</template>

<template name="userPhoto">
  <div class="ui segment userPhoto">
    <div class="ui fluid image">
      <img src="{{currentUser.getImage}}">
    </div>
    <div class="file-box text-center pointer ui attached button fileBrowse">
      <i class="photo icon"></i>
      Change the photo
    </div>
  </div>
</template>
