<template name="home">
  <!-- Home head -->
  <div class="ui inverted vertical masthead center aligned segment">
    {{> header}}
    <div class="ui text container header">
      <h1 class="ui inverted ">
        SUSUFQX
      </h1>
    </div>
  </div>
  <!-- Home body -->
  <div class="ui vertical stripe quote segment">
    <div class="ui equal width stackable internally celled grid">
      <div class="center aligned row">
        <div class="column poemOne">
          <h3>山居秋敏</h3>
          <p>
            空山新雨后，天气晚来秋。<br>
            明月松间照，清泉石上流。<br>
            竹喧归浣女，莲动下渔舟。<br>
            随意春芳歇，王孙自可留。
          </p>
        </div>
        <div class="column poemTwo">
          <h3>望月怀古</h3>
          <p>
            海上生明月，天涯共此时。<br>
            情人怨遥夜，竟夕起相思。<br>
            灭烛怜光满，披衣觉露滋。<br>
            不堪盈手赠，还寝梦佳期。
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="ui vertical stripe segment">
    <div class="ui text container">
      <h3 class="ui header">秋日登洪府滕王阁饯别序</h3>
      <p>
        豫章故郡，洪都新府。星分翼轸，地接衡庐。襟三江而带五湖，控蛮荆而引瓯越。
        物华天宝，龙光射牛斗之墟；人杰地灵，徐孺下陈蕃之榻。雄州雾列，俊采星驰。
        台隍枕夷夏之交，宾主尽东南之美。都督阎公之雅望，棨戟遥临；宇文新州之懿范，
        襜帷暂驻。十旬休假，胜友如云；千里逢迎，高朋满座。腾蛟起凤，孟学士之词宗；
        紫电青霜，王将军之武库。家君作宰，路出名区；童子何知，躬逢胜饯。时维九月，
        序属三秋。潦水尽而寒潭清，烟光凝而暮山紫。俨骖騑于上路，访风景于崇阿。
        临帝子之长洲，得仙人之旧馆。层台耸翠，上出重霄；飞阁流丹，下临无地。
        鹤汀凫渚，穷岛屿之萦回；桂殿兰宫，列冈峦之体势。。。
      </p>
      <a class="ui large button">View the whole artile</a>
      <h4 class="ui horizontal header divider">
      </h4>
      <h3 class="ui header">人生道路上的风景，不需要言语……</h3>
      <div class="ui two cards">
        <div class="card">
          <div class="ui image">
            <img src="/images/background/hangzhou.jpg">
          </div>
          <div class="extra content">
            <a class="text-center">Hangzhou</a>
          </div>
        </div>
        <div class="card">
          <div class="ui image">
            <img src="/images/background/venise.jpg">
          </div>
          <div class="extra content">
            <a class="text-center">Venise</a>
          </div>
        </div>
      </div>
      <a class="ui large button">More photos</a>
    </div>
  </div>

</template>
