<template name="myAccounts">
  <div class="myAccounts">
    <div class="ui center aligned grid">
      <div class="column">
        <h2 class="ui teal image header">
          <div class="content">
            {{#if login}}
              Access your account
            {{/if}}
            {{#if register}}
              Register a new account
            {{/if}}
            {{#if forgetPwd}}
              Find the password
            {{/if}}
          </div>
        </h2>
        <form class="ui large form myAccounts">
          <div class="ui stacked segment">
            <!-- Email all parts need it -->
            <div class="field">
              <div class="ui left icon input">
                <i class="user icon"></i>
                <input type="text" name="email" placeholder="Email...">
              </div>
            </div>
            <!-- Enter the password , only find the password don't need it -->
            {{#unless forgetPwd}}
            <div class="field">
              <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password" name="password" placeholder="Password...">
              </div>
            </div>
            {{/unless}}
            <!-- Verify the password, just register needs it -->
            {{#if register}}
            <div class="field">
              <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password" name="passwordAgain" placeholder="Password...">
              </div>
            </div>
            {{/if}}
            <button type="submit" class="ui fluid large teal submit button">
              {{#if login}}
                Login
              {{/if}}
              {{#if register}}
                Register
              {{/if}}
              {{#if forgetPwd}}
                Send email
              {{/if}}
            </button>
          </div>
          <div class="ui error message"></div>
        </form>
        <div class="ui message">
          {{#if login}}
            You don't have the account？ <a href="register">Register</a>
          {{/if}}
          {{#if register}}
            You have already the account <a href="login">Login</a>
          {{/if}}
          {{#if forgetPwd}}
            Click to send the email which can help you reset the password
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</template>

<!-- SignIn -->
<template name="login">
  {{> myAccounts state='signIn'}}
</template>
<!-- SignUp -->
<template name="register">
  {{> myAccounts state='signUp'}}
</template>
<!-- forget the password -->
<template name="forgetPwd">
  {{> myAccounts state='forgetPwd'}}
</template>
