<template name="blog">
  <div class="main blog-part">
    <div class="header segment">
      <div class="ui container">
        <div class="ui huge header">
          <h2>SusuFQX's Blog</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="ui stackable grid blog-grid">
    <div class="four wide column">
      <a class="ui divider"></a>
      <a class="ui green basic label">IT (0)</a>
      <a class="ui green basic label">History (0)</a>
      <a class="ui green basic label">Society (0)</a>
      <a class="ui green basic label">Science (0)</a>
      <a class="ui green basic label">Games (0)</a>
      <a class="ui green basic label">Maths (0)</a>
      <a class="ui green basic label">Sports (0)</a>
      <a class="ui green basic label">Thinking (0)</a>
      <a class="ui green basic label">Economy (0)</a>
      <a class="ui green basic label">Politic (0)</a>
      <a class="ui green basic label">Culture (0)</a>
      <a class="ui divider"></a>
    </div>
    <div class="ten wide column">
      <div class="ui divider"></div>
      {{#each blog in blogs}}
        {{> listPart blog=blog}}
        <div class="ui divider"></div>
      {{/each}}
    </div>
  </div>
</template>

<template name="listPart">
  <div class="ui comments">
    <div class="comment blog-list">
      <a class="avatar">
        <img src="/images/index/defaultPhoto.jpg">
      </a>
      <div class="content">
        <a class="author">{{blog.title}}</a>
        <div class="metadata">
          <span class="date">{{blog.date}}</span>
        </div>
        <div class="text">{{blog.text}}</div>
        <div class="actions">
          <a class="reply">Read More</a>
        </div>
      </div>
    </div>
  </div>
</template>
