<template name="header">
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <a class="navbar-brand" href="{{pathFor 'postsList'}}">苏苏的博客</a>
    </div>
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav">
        {{#if currentUser}}
          <li><a href="{{pathFor 'postSubmit'}}">发布帖子</a></li>
        {{/if}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{#if currentUser}}
          <a href="{{pathFor 'register'}}">Register</a>
          <a href="{{pathFor 'login'}}">Login</a>
        {{else}}
        <div class="ui simple dropdown item">Welcome<i class="dropdown icon"></i>
          <div class="menu">
            <div class="item">Choice 1</div>
            <div class="item">Choice 2</div>
            <div class="item">Logout</div>
          </div>
        </div>
        {{/if}}
      </ul>
    </div>
  </nav>
</template>
