<template name="footer">
  <div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">Links</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Sina weibo</a>
            <a href="#" class="item">QQ Zone</a>
            <a href="#" class="item">Tieba of baidu</a>
            <a href="#" class="item">Facebook</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Contact me</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">QQ：1050090904</a>
            <a href="#" class="item">Mobile Phone：+33612233080</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">SusuFQX</h4>
          <p>Welcome to my space!</p>
        </div>
      </div>
    </div>
  </div>
</template>
